.root {
  display: grid;
  place-items: center;
}

.root p {
  font-size: 22px;
}

.flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  padding-top: 30px;
}

.card {
  width: 250px;
  height: 380px;
}
