.root {
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr auto;
  gap: 25px;
}

.player1,
.player2 {
  display: flex;
}

.card {
  width: 200px;
  height: 300px;
}

.card:not(:last-child) {
  margin-right: 15px;
}
