.root {
  background: #202736;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 1;
}

.root::before {
  content: '';
  position: fixed;
  background: url('../../asserts/svg/Stars.svg');
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  animation: stars-move-in 1000ms 100ms forwards;
  opacity: 0;
}

@keyframes stars-move-in {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}

.forest {
  position: absolute;
  bottom: 0px;
  left: 0;
  background: url('../../asserts/jpg/bg4.jpg') bottom left repeat-x;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: forest-move-in 2000ms 300ms forwards;
  /* border-bottom: 1px solid #181d23; */
}

@keyframes forest-move-in {
  from {
    background-position-y: 150%;
  }
  to {
    opacity: 1;
    background-position-y: 100%;
  }
}

.container {
  display: grid;
  place-items: center;
  width: fit-content;
  position: absolute;
  right: 0;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: text-fade-in 1000ms 800ms forwards;
}

.container button {
  padding: 18px 28px;
  margin-top: 45px;
  background: #f300b4 linear-gradient(hsla(0, 0%, 100%, 0.2), transparent);
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
  color: #fafafa;
  text-shadow: 0 -2px 3px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  transition: 0.3s;
}

.container button:hover {
  cursor: pointer;
  background: #fafafa;
  color: #202736;
}

@keyframes text-fade-in {
  from {
    right: 0;
  }
  to {
    opacity: 1;
    right: 25%;
  }
}

.container h1 {
  font-size: 45px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  color: #fafafa;
  line-height: 65px;
  text-shadow: 0 0 8px #161616;
}

.container p {
  width: 50%;
  text-align: center;
  margin-top: 22px;
  font-size: 26px;
  font-weight: normal;
  color: #fafafa;
  line-height: 32px;
  text-shadow: 0 0 6px #161616;
}
